body {
	font-family: 'Alegreya', serif;
	background-color: #F0F8FF;
	color: #333;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #ADD8E6;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 999;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
	color: #fff;
}

main {
	margin-top: 80px;
	padding: 20px;
}

section {
	margin-bottom: 50px;
}
