/* Estilos generales */
body {
  font-family: 'Alegreya', serif;
  background-color: #e6f2ff;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav li {
  height: 100%;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #fff;
  color: #0077b6;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

section h1, section h2 {
  color: #0077b6;
  margin: 0;
}

section p {
  margin: 20px;
  text-align: center;
}

/* Estilos para la barra de navegación */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.nav-links.open {
  height: auto;
}

.nav-links li {
  list-style: none;
  margin: 10px 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links.open {
    transform: translateX(0%);
  }

  .nav-links li {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    display: block;
    margin: 50px 0;
  }

  /* Estilos para el menú hamburguesa */
  .menu-btn__burger {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }

  .open .menu-btn__burger {
    transform: rotate(45deg);
    background-color: #333;
  }

  .open .menu-btn__burger::before {
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #333;
 
.image {
  max-width: 100%;
  height: auto;
}
